.fc-layout {
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 20px;
}

.fc-lista {
    border: 1px solid #eee;
    max-height: 300px;
    overflow-y: auto;
    background: #fafafa;
    border-radius: 8px;
    padding: 10px;
}

.fc-item-lista {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flip-card-container {
    perspective: 1000px;
    height: 350px;
    margin: 20px auto;
    max-width: 300px;
    cursor: pointer;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 12px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);
    position: relative;
}

.alfinetes{
    width: 65px;
    height: 75px;
    position: absolute;
    top: -12%; left: 40%; right: 40%;
    z-index: 10;
    background-image: url(../img/alfinetes.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    filter: drop-shadow(1px 3px 5px rgba(0,0,0,0.3));
    /*background-color: aqua;*/
}

.fc-tag{
    background-color: var(--primary);
    color: #fff;
    flex: 1;
    font-size: 0.9em;
    padding: 10px 10px;
}

#fc-front-content{
    flex: 3;
}

.flip-card-container.virado .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 1.2rem;
}

.flip-card-front {
    background-color: #fff;
    color: #333;
    border: 2px solid #eee;
}

.flip-card-back {
    background-color: var(--sec);
    color: white;
    transform: rotateY(180deg);
    border: 2px solid var(--sec);
}

.fc-botoes-resposta {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}

.fc-botoes-resposta.visivel {
    opacity: 1;
    pointer-events: all;
}