header {
            background: var(--primary);
            color: #fff;
            padding: 1rem 0;
            box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
            transition: .3s;
            z-index: 10
        }

        header h4 {
            margin: 0;
            font-weight: 600;
            font-size: 1.5rem;
            transition: .3s
        }

        header.sticky {
            position: fixed;
            top: 0;
            width: 100%;
            padding: .5rem 0;
            box-shadow: 0 4px 10px rgba(0, 0, 0, .2)
        }

        header.sticky h4 {
            font-size: 1.2rem
        }