.quadro-anotacoes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 100px;
    padding: 20px 0;
}
.nota-bloco {
    min-height: 200px;
    padding: 20px;
    position: relative;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.1);
    transform: rotate(-1deg);
    transition: transform 0.2s;
    border-bottom: 2px solid #ddd;
}

body.dark-mode .nota-bloco {
    background-color: var(--dark-surface);
}

.nota-corpo div{
    white-space: pre-wrap;
    font-size: 0.95rem;
    line-height: 1.5;
    color: #444;
}

body.dark-mode .nota-corpo div{
    white-space: pre-wrap;
    font-size: 0.95rem;
    line-height: 1.5;
    color: var(--dark-text);
}

body.dark-mode .nota-bloco {
    background: var(--dark-surface);
    min-height: 200px;
    padding: 20px;
    position: relative;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.1);
    transform: rotate(-1deg);
    transition: transform 0.2s;
    border-bottom: 2px solid #ddd;
}
.nota-bloco:nth-child(even) { transform: rotate(1.5deg); }
.nota-bloco:hover { transform: scale(1.03) rotate(0deg); z-index: 10; }

.nota-header { border-bottom: 1px dashed #ccc; margin-bottom: 10px; padding-bottom: 5px; }
.nota-texto { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 0.95rem; line-height: 1.4; color: #333; }

/* Reaproveitando seus alfinetes */
.alfinete-nota {
    width: 15px; height: 15px; border-radius: 50%;
    position: absolute; top: -7px; left: 50%; transform: translateX(-50%);
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

#secao-cadero{
    margin-bottom: 20px;
    border-bottom: 2px solid var(--purple);
    padding-bottom: 10px;
}