#imp-lista-questoes{
    padding:10px;
    border:1px solid var(--border);
}

.imp-acoes-bottom{
    margin-top: 150px;
}

body.dark-mode .imp-row.sucesso-salvo{
    background-color: var(--dark-primary) !important;
}

.imp-prova{
    display: none;
}